.eskisehir{
    img{
        margin-top: 30%;
    }
    background-color: #f3f5f8;
    .pbesk & {
        background-color: $redbg;
    }
    .hashtag{
        font-size: x-large;
    }
    color: #dd3535;
    @media only screen and (min-width: 960px)  {
        min-height: 360px;
        .pbesk & {
            min-height: 360px;
        }
    }
}