<canvas #myCanvas width="width" height="width" [hidden]="true"></canvas>
<div class="row h-100 donator-form">
    <div class="col-md-5 col-10 left-part mx-auto h-100 pb-3 pb-md-5 mobil-step-1-left">
        <img *ngIf="!ss.theme.logo" src="assets/images/svg/logo_pay-bros.svg" class="logo_pay-bros" alt="paybros">

        <app-cart [step]="step"></app-cart>

        <app-footer-left *ngIf="!ss.theme.sss" class="d-none d-md-block"></app-footer-left>
    </div>

    <div class="col-md-7 col-sm-12 right-part pt-5 pb-5">
        <div class="row h-100">
                <div class="col-11 col-sm-9 mx-auto">

                <div class="text-right col order-id mb-5">
                        <span translate>Order ID</span>: {{decodedData.OrderId}}
                </div>
            <div class="pt-auto mb-4 mt-5">
                <form role="form" [formGroup]="donationForm" autocomplete="off" #myform
                    (ngSubmit)="donationSubmit(donationForm, myform)">
                    <div class="form-group mt-5 form-donation">
                        <label translate>Adınız Soyadınız</label>
                        <div class="input-group input-group-prepend mb-5">
                            <input type="text" class="form-control" placeholder="Adınızı giriniz" formControlName="name">
                        </div>

                        <button type="submit" [disabled]="donationForm.invalid" class="btn btn-danger min200 mt-4"
                            translate>
                            Devam Et
                        </button>

                    </div>
                </form>
                <app-loading *ngIf="loading"></app-loading>


            </div>
        </div>
        </div>
    </div>
</div>
