$result-icon-size:95px;

.logo_pay-bros {
    display: block;
    width: 200px;
    height: 80px;
    margin-left: 30px;
    margin-top: 40px;
    @include media-breakpoint-down(sm){
        margin:15px auto 0;
    }
    .pbwl & {
         display: none;
    }
}

.icon {
    display: inline-block;
    min-width: 12px;
    min-height: 12px;
    background-position: center;
    background-repeat: no-repeat;
   
   
    &.contact{
        background-image: url('../assets/images/icons/icon-contact.svg');      
        width: 16px;
        height: 16px;        
        color: #bcbfcc;        
    }
    &.error{
        width: $result-icon-size;
        height: $result-icon-size;
        &.cc {
            background-image: url('../assets/images/icons/icon-cc-error.svg');
        }
        &.mobil{
            background-image: url('../assets/images/icons/icon-mobil-error.svg'); 
        }
    }
    &.success{
        width: $result-icon-size;
        height: $result-icon-size;
        &.cc {
            background-image: url('../assets/images/icons/icon-cc-success.svg');
        }
        &.mobil{
            background-image: url('../assets/images/icons/icon-mobil-success.svg'); 
        }
    }
    &.loading{
        width: 80px;
        height: 80px; 
        background-image: url('../assets/images/icons/icon-loading.svg');   
    }
}
.icon-3d{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}