.merchant-container {
    background-color: #f3f5f8;
    @include media-breakpoint-down(sm) { 
        background-color: #FFF;
      }
      @media only screen and (min-width: 768px)  {
        min-height: 360px;
        .pbwl & {
            margin-top: 125px;
        }
      }
      
}

.merchant {
    margin-bottom: 30px;
    background: #FFF;
    
    @include media-breakpoint-down(sm) { 
        margin-bottom: 10px;
      }

      .merchant-logo{
        // max-height: 60px;
        // overflow: hidden;
          img {
              max-width: 100%;
          }
      }
    .merchant-product{        
        margin-bottom: 30px; 
        // padding: 0 15px;  
        max-width: 100%;
        min-height: 125px;   
        @include media-breakpoint-down(sm) { 
           width: 20%;
           max-width: 20%;
           float: left;
           text-align: center;   
           padding: 5px;    
           min-height: 40px;  
           margin-bottom: 10px;             
         }
        img{
            max-width: 100%;
            max-height: 125px;
            @include media-breakpoint-down(sm) { 
                max-height: 40px;
            }
        }
    }
    .merchant-title{
        font-size: 18px;
        color: #888;      
        @include media-breakpoint-down(sm) { 
            width: 80%;
            float: left;
            font-size: 14px;
          }
    }
    .merchant-price{
        font-weight: bold;
        font-size: 24px;
        @include media-breakpoint-down(sm) {             
            font-size: 18px;
          }
    }

.carousel {
    &.slide{
        .carousel-indicators{
            bottom: 30%;
            @include media-breakpoint-down(sm){
                bottom: 0;
                margin-bottom: 5px;
            } 
            li{
                width: 3px;
                border-radius: 3px;
                background-color: #bdc3c7;
                &.active{
                    background-color: #34495e; 
                }

            }
        }
        .carousel-inner{     
            padding: 0 8%;       
            //  .item {
            //      .carousel-item{
            //         &.active{
   
            //         }
            //         .item {

            //         }
                    
            //     }
            //  }
        }
        .carousel-control{
            color:black !important;
            top:-85px;
            width: 8%;
            @include media-breakpoint-down(sm){
                top: 0; 
                
            }            
            span{
                color:black !important;
            }
           &.carousel-control-prev{
            .carousel-control-prev-icon{
                background-image: none;
                &::before{   
                font-family: FontAwesome;
                display: inline-block;
                text-rendering: auto;
                content: "\f053";  
                } 
            } 
           } 
           &.carousel-control-next{
            .carousel-control-next-icon{
                background-image: none;
                &::before{   
                font-family: FontAwesome;
                display: inline-block;
                text-rendering: auto;
                content: "\f054";  
                } 
            }
           }
        } 
    }
}


}

