// paybrothers default theme variables
$blue2:#006dd3; // OrderID
$bluebg:#082657;
// paybrothers white label theme variables
$purplebg:#360055;
$purpletext:#7920a3;
$redtext: #ED1B24;
$redbg: #ED1B24;
$blackbg: #231F20;
$whitebg: #E8E8E8;
$whitetext: #E8E8E8;


