.fp-header{
    background-color: #FFF;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    .order-id {   
        height: 50px;
        line-height: 50px;
    }
}
.fp-footer{
    width: 100%;
    position: fixed;
    background-color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
    bottom: 0;
    left: 0;
}