<div class="right-footer mt-3 mt-sm-5">
  <div class="row">
    <div class="col-12 mobil-footer-right text-center text-sm-right">
      <img class="logo_operators" src="assets/images/svg/logo_operators.svg" alt="">
    </div>
    <div class="col-12 cc-footer-right text-center text-sm-right">
      <img class="icon-3d" src="assets/images/icons/icon-3d.png" alt="3D">
      <img class="logo-sec" src="assets/images/svg/logo_security.svg" alt="">
      <img src="assets/images/svg/icon-troy.svg" alt="">
    </div>
  </div>
</div>