<div class="cc-login cc-login-step-2 row">
  <div class="col-11 mx-auto pb-3 pb-md-4">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row h-100">
          <div class="col-12 col-md-10 vertical-center2">
            <img *ngIf="!ss.theme.logo && !ispbesk" src="assets/images/svg/logo_pay-bros.svg" class="logo_pay-bros" alt="paybros"
              style="margin-left: 0">
            <div class="mb-2 mb-md-4">

              <div class="info-content mt-1 mt-sm-4">
                <h2 class="clear mb-1 mb-sm-4" translate>SMS Onay</h2>
                <div class="row step-2-header-content">
                  <span class="col-12 col-sm-5 label" translate>GSM Numaranız</span>
                  <span class="col-12 col-sm-7 value">+{{phoneNumber | mask:'phone'}}</span>
                </div>
              </div>

              <div class="timer-content">
                <label translate class="{{'timer-'+ duration}}">Cep telefonunuza gelen kodu girmeniz için kalan süre:</label>
                <div class="timer {{'timer-'+ duration}}">{{clockDisplay}}</div>
              </div>

              <form role="form" #smsApproveForm="ngForm" novalidate autocomplete="off">
                <div id="sendSMS" class="form-group text-center">
                  <label for="" translate>SMS Onay Kodunuz</label>
                  <div class="input-group" [ngStyle]="{'visibility': duration>0 ? 'visible':'hidden'}">
                    <div class="input-group-prepend">
                      <i class="input-group-text fa fa-unlock-alt"></i>
                    </div>
                    <input [disabled]="duration==0" type="password" #phone="ngModel" class="form-control" id="smscode"
                      placeholder="******" required name="smscode" [(ngModel)]="smscode">
                  </div>
                  <button *ngIf="duration>0 && currentTheme === 'pbesk'" type="submit" [disabled]="smsApproveForm.invalid"
                    (click)="LoginCC(smscode)" class="btn btn-danger min200 mt-3" translate>Gönder</button>
                  <button *ngIf="duration>0 && currentTheme != 'pbesk'" type="submit" [disabled]="smsApproveForm.invalid"
                    (click)="LoginCC(smscode)" class="btn btn-primary min200 mt-3" translate>Gönder</button>

                </div>
              </form>
              <div *ngIf="duration==0" class="reSMScode text-center">
                <button type="button" class="btn btn-danger btn-block" (click)="reSMSLoginCode()" translate>Tekrar Onay
                  Kodu Gönder</button>
              </div>
            </div>

            <app-footer-left *ngIf="!ss.theme.logo" class="d-none d-md-block"></app-footer-left>
          </div>
        </div>
      </div>


      <div class="col-12 col-md-6 cc-login-right pt-3 pt-md-0">
        <img class="pb-amblem approval" [src]="amblemUrl" width="235" alt="pay bros">

        <div class="row">
          <div class="security-info col-sm-12 col-md-7 text-left text-md-right">
            <h2 translate>Güvenlik Uyarısı</h2>
            <p translate>Yapacağınız işlemler 256 Bit SSL serfitikası ile korunmakta olup, herhangi bir üçüncü parti
              kurum veya kuruluşlarla
              paylaşılmamaktadır. Tüm ödemelerinizi güvenle gerçekleştirebilirsiniz.</p>
          </div>
        </div>

        <app-footer-right [ngClass]="ss.GetPaymentChannelOptions().Class"></app-footer-right>
      </div>
    </div>
  </div>
</div>
