.bank-transfer{
    .mobil-step-1-left{
        padding-top: 7rem !important;
        @include media-breakpoint-down(sm) {
            padding-top: 2rem !important;
         }
    }
    .bank-transfer-right{
        background: $bluebg;
        .pbwl & {
            background: $purplebg;
        }
        .pbesk & {
            background: $blackbg;
        }
        h4{
            color: #bcbfcc;
            .pbesk & {
              color: $whitetext;
            }
            font-size: 24px;
        }
        .form-group{
            label{
                color: #006dd3;
                font-size: 13px;
                .pbwl & {
                    color: $purpletext;
                }
                .pbesk & {
                    color: $redtext;
                }
                &.hgn {
                    color: #24ca95;
                    .pbesk & {
                      color: $redtext;
                    }
                }
            }

            .label-info {
                color:#FFF;
                padding-left: 15px;
                font-size: 16px;
            }
            &.bordered {
                padding-bottom: 15px;
                border-bottom: 2px solid #13c5f2;
                .pbwl & {
                    border-bottom: 2px solid $purpletext;
                }
            }
        }
    }
    .hgn-info {
        min-height: 70px;

        .bank-transfer-info {
          .saat{
            .pbesk & {
              color: $redtext !important;
            }
          }
            .icon{
                float: left;
                width: 9%;
                .fa {
                    font-size: 20px;
                     color: #24ca95;
                     .pbesk & {
                      color: $redtext;
                    }
                  }
            }
            .text {
                font-size: 13px;
                color: #FFF;
                display: inline-block;
                width: 91%;
                span{
                    color: #01eb28;
                }
            }
        }
    }


    .form-row{
        .form-row-label {
            color: #006dd3;
            font-size: 13px;
            .pbwl & {
                color: $purpletext;
            }
        }
    }

    .min200{
      .pbesk & {
        background: $redbg;
        border-color: $redbg;
      }
    }
}
